{% load static %}

<head>
  <link rel="stylesheet" href="{% static "css/lines.css" %}">
</head>

<div class="container">
  <h1>Class the pictures.</h1>
  <p>Select the closest category for the pictures.</p>
  {% for key, name in score.items %}
    <p class="info">{{key}}: {{name}}{% if key != 'Total' %}%{%endif%}</p>
  {% endfor %}

  <form action="{% url 'lines:move' begin=begin end=end folder=folder%}" method="post">
  {% csrf_token %}
    {% for l in lists %}
      <div class="imgContainer">
        <img src="{% static l %}"/>
        <div class="choices">
          {% for key, name in sort_folders %}
            <input type="radio" name="{{l}}" id="{{key}}{{l}}" value="{{key}}">
            <label for="{{key}}{{l}}">
              {{name}}
            </label>
          {% endfor %}
        </div>
      </div>
    {% endfor %}
    <input class="submitBtn" type="submit" value="Submit">
  </form>
</div>
