.container {
  max-width: 45em;
  margin: 0 auto;
  position: relative;
  margin-bottom: 10em;
  font-family: sans-serif;
}
    .container::after {
        content: "";
        clear: both;
        display: table;
    }

.imgContainer {
  width: 100%;
  position: relative;
  margin-bottom: 4em;
}
.imgContainer::after {
  content: "";
  clear: both;
  display: table;
}
  .imgContainer > img {
    margin: 0 auto;
    max-width: 100%;
    max-width: calc(100% - 2px);
    height: auto;
    border: solid 1px #AAA;
  }
  .imgContainer .choices {
    top: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    border-radius: 0 0 7px 7px;
    overflow: hidden;
  }
    .choices input {
      display: none;
    }
    .choices label {
      text-align: center;
      line-height: 3em;
      background-color: #CCE;
      color: #555;
      height: 100%;
      border-right: solid 1px #555;
      cursor: pointer;
    }
    .choices input:checked + label {
      color: white;
      background-color: #557;
    }

.submitBtn {
  position: fixed;
  right: calc(50% - 5rem) ;
  bottom: 3.5rem;
  height: 5rem;
  line-height: 5rem;
  width: 10rem;
  color: white;
  font-size: 1.5rem;
  border-radius: 7px;
  border: none;
  z-index: 10;
  background-color: #5AF;
  box-shadow: 1px 5px 2rem rgba(0,0,0,0.5)
}
.info {
  font-family: sans-serif;
  color: #557;
}
