{% load static %}

<head>
  <link rel="stylesheet" href="{% static "css/list.css" %}">
</head>

<div class="container">
  <p class="info"> You've sorted {{score}} bad files</p>
  <form action="{% url 'list:move' folder=folder begin=begin end=end%}" method="post">
  {% csrf_token %}
    {% for l in lists %}
    <label class="selectableImg">
      <input type="checkbox" name="files" value="{{l}}">
      <img src="{% static l %}"/>
    </label>
    {% endfor %}
    <input class="submitBtn" type="submit" value="Submit">
  </form>
</div>
