.container {
  width: 45em;
  margin: 0 auto;
  position: relative;
  margin-bottom: 10em;
}
    .container::after {
        content: "";
        clear: both;
        display: table;
    }
form {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(11.25em, auto));
}
.selectableImg {
  margin: 0.5em;
  cursor: pointer;
}
    .selectableImg > img {
      position: relative;
      max-width: 100%;
      border-radius: 0px;
      border: solid 3px rgba(0,0,0,0.1);
    }
    .selectableImg > input:checked + img{
      border-radius: 5px;
      border: solid 3px #F52;
    }
    .selectableImg > input {
      display: none;
    }

.submitBtn {
  position: fixed;
  right: calc(50% - 5em) ;
  bottom: 3.5em;
  height: 5em;
  line-height: 5em;
  width: 10em;
  color: white;
  border-radius: 7px;
  border: none;
  z-index: 10;
  background-color: #38F;
  box-shadow: 1px 5px 2em rgba(0,0,0,0.5)
}
.info {
  font-family: sans-serif;
  border: solid 3px #E31;
  padding: 1em;
  text-align: center;
  border-radius: 7px;
}
